<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HealthMate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04C62C9620CAAAC500AB2F7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C62CAA20CAAAC500AB2F7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C62CB520CAAAC500AB2F7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
